## Dashboard creations

In [1]:
import numpy as np

import plotly.offline as pyo
import plotly.graph_objs as go


np.random.seed(42)

random_x=np.random.randint(1,101,100)
random_y=np.random.randint(1,101,100)

data = [go.Scatter(x=random_x,y=random_y,
                   mode='markers')
       ]
layout=go.Layout(title="First plot",
                 
                 xaxis={'title':'my x axis'},
                 yaxis={'title':'my y axis'},
                 hovermode='closest'
                )

fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='scatter.html')

'scatter.html'

### Line charts

In [13]:
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go
np.random.seed(56)

x_values=np.linspace(0,1,100)
y_values=np.random.randn(100)

trace0= go.Scatter(x=x_values,y=y_values+5,
                   mode='markers',name='markers')


trace1= go.Scatter(x=x_values,y=y_values,
                   mode='markers',name='markers')

trace2= go.Scatter(x=x_values,y=y_values-5,
                   mode='markers',name='markers')

data=[trace0,trace1,trace2]
data

layout=go.Layout(title='Line Charts')

fig = go.Figure(data=data,layout=layout)

In [16]:
import plotly.offline as pyo
import plotly.graph_objs as go
import numpy as np

np.random.seed(56)
x_values = np.linspace(0, 1, 100) # 100 evenly spaced values
y_values = np.random.randn(100)   # 100 random values

# Create traces
trace0 = go.Scatter(
    x = x_values,
    y = y_values+5,
    mode = 'markers',
    name = 'markers'
)
trace1 = go.Scatter(
    x = x_values,
    y = y_values,
    mode = 'lines+markers',
    name = 'lines+markers'
)
trace2 = go.Scatter(
    x = x_values,
    y = y_values-5,
    mode = 'lines',
    name = 'lines'
)
data = [trace0, trace1, trace2]  # assign traces to data
layout = go.Layout(
    title = 'Line chart showing three different modes'
)
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig, filename='line1.html')

'line1.html'

In [22]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/SourceData/nst-est2017-alldata.csv')
df2=df[df['DIVISION'] == '1']
df2.set_index('NAME',inplace=True)

list_of_pop_cols=[col for col in df2.columns if col.startswith('POP')]
print(list_of_pop_cols)
df2=df2[list_of_pop_cols]
df2

['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017']

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
NAME,,,,,,,,
Connecticut,3580171.0,3591927.0,3597705.0,3602470.0,3600188.0,3593862.0,3587685.0,3588184.0
Maine,1327568.0,1327968.0,1328101.0,1327975.0,1328903.0,1327787.0,1330232.0,1335907.0
Massachusetts,6564943.0,6612178.0,6659627.0,6711138.0,6757925.0,6794002.0,6823721.0,6859819.0
New Hampshire,1316700.0,1318345.0,1320923.0,1322622.0,1328684.0,1330134.0,1335015.0,1342795.0
Rhode Island,1053169.0,1052154.0,1052761.0,1052784.0,1054782.0,1055916.0,1057566.0,1059639.0
Vermont,625842.0,626210.0,625606.0,626044.0,625665.0,624455.0,623354.0,623657.0

In [ ]:
## Line chart excercise

In [22]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/Data/2010YumaAZ.csv')
len(df['DAY'])

days=['WEDNESDAY', 'THURSDAY', 'FRIDAY', 'MONDAY', 'SUNDAY', 'SATURDAY', 'TUESDAY']

data=[]
for day in days:
    trace=go.Scatter(x=df['LST_TIME'],
                     y=df[df['DAY']==day]['T_HR_AVG']
                     ,mode='lines',name=day)
    data.append(trace)
                          
                     
            
layout = go.Layout(title='Daily Temp Avg')

fig = go.Figure(data=data,layout=layout)

pyo.plot(fig)
                          

    
    

    

# df2=df[df['DIVISION'] == '1']
# df2.set_index('NAME',inplace=True)

# list_of_pop_cols=[col for col in df2.columns if col.startswith('POP')]
# print(list_of_pop_cols)
# df2=df2[list_of_pop_cols]
# df2

'temp-plot.html'

In [21]:
val=df[df['T_HR_AVG']=='SATURDAY']['T_HR_AVG']
val

Series([], Name: T_HR_AVG, dtype: float64)

In [9]:
list(set(list(df['DAY'])))

['WEDNESDAY', 'THURSDAY', 'FRIDAY', 'MONDAY', 'SUNDAY', 'SATURDAY', 'TUESDAY']

In [27]:
 # for day in days:
data=[{

    'x':df['LST_TIME'],
                     'y':df[df['DAY']==day]['T_HR_AVG'],
    'name':day
} for day in df['DAY'].unique()
]
data

[{'x': 0       0:00
  1       1:00
  2       2:00
  3       3:00
  4       4:00
         ...
  163    19:00
  164    20:00
  165    21:00
  166    22:00
  167    23:00
  Name: LST_TIME, Length: 168, dtype: object, 'y': 0     25.2
  1     24.1
  2     24.4
  3     24.9
  4     22.8
  5     19.8
  6     18.8
  7     21.2
  8     24.2
  9     27.1
  10    29.3
  11    30.6
  12    32.6
  13    34.0
  14    34.0
  15    34.9
  16    34.6
  17    33.8
  18    33.5
  19    32.8
  20    31.0
  21    29.0
  22    27.6
  23    26.3
  Name: T_HR_AVG, dtype: float64, 'name': 'TUESDAY'}, {'x': 0       0:00
  1       1:00
  2       2:00
  3       3:00
  4       4:00
         ...
  163    19:00
  164    20:00
  165    21:00
  166    22:00
  167    23:00
  Name: LST_TIME, Length: 168, dtype: object, 'y': 24    23.8
  25    20.6
  26    19.1
  27    18.4
  28    18.9
  29    18.2
  30    17.9
  31    20.2
  32    23.8
  33    26.1
  34    27.9
  35    29.3
  36    30.9
  37    32.2
  38    33.1
  39    33.7
  40    34.5
  41    34.7
  42    34.8
  43    34.2
  44    32.8
  45    31.0
  46    28.7
  47    25.5
  Name: T_HR_AVG, dtype: float64, 'name': 'WEDNESDAY'}, {'x': 0       0:00
  1       1:00
  2       2:00
  3       3:00
  4       4:00
         ...
  163    19:00
  164    20:00
  165    21:00
  166    22:00
  167    23:00
  Name: LST_TIME, Length: 168, dtype: object, 'y': 48    24.3
  49    23.1
  50    21.8
  51    19.8
  52    18.5
  53    19.2
  54    19.7
  55    20.7
  56    23.2
  57    26.1
  58    28.6
  59    30.8
  60    32.3
  61    33.8
  62    34.9
  63    35.8
  64    35.9
  65    36.3
  66    35.8
  67    35.4
  68    34.2
  69    32.7
  70    31.1
  71    28.6
  Name: T_HR_AVG, dtype: float64, 'name': 'THURSDAY'}, {'x': 0       0:00
  1       1:00
  2       2:00
  3       3:00
  4       4:00
         ...
  163    19:00
  164    20:00
  165    21:00
  166    22:00
  167    23:00
  Name: LST_TIME, Length: 168, dtype: object, 'y': 72    26.4
  73    25.4
  74    24.2
  75    23.6
  76    22.5
  77    21.0
  78    21.3
  79    22.5
  80    24.7
  81    28.1
  82    30.6
  83    32.5
  84    33.9
  85    35.5
  86    36.6
  87    37.2
  88    37.8
  89    38.1
  90    38.2
  91    37.4
  92    36.0
  93    34.4
  94    32.6
  95    30.1
  Name: T_HR_AVG, dtype: float64, 'name': 'FRIDAY'}, {'x': 0       0:00
  1       1:00
  2       2:00
  3       3:00
  4       4:00
         ...
  163    19:00
  164    20:00
  165    21:00
  166    22:00
  167    23:00
  Name: LST_TIME, Length: 168, dtype: object, 'y': 96     28.3
  97     27.3
  98     26.3
  99     25.3
  100    24.7
  101    24.7
  102    23.9
  103    24.7
  104    27.7
  105    30.4
  106    32.6
  107    34.8
  108    36.4
  109    37.2
  110    38.4
  111    39.7
  112    40.0
  113    40.4
  114    40.1
  115    39.0
  116    37.3
  117    35.7
  118    33.9
  119    31.4
  Name: T_HR_AVG, dtype: float64, 'name': 'SATURDAY'}, {'x': 0       0:00
  1       1:00
  2       2:00
  3       3:00
  4       4:00
         ...
  163    19:00
  164    20:00
  165    21:00
  166    22:00
  167    23:00
  Name: LST_TIME, Length: 168, dtype: object, 'y': 120    29.7
  121    28.6
  122    26.9
  123    25.9
  124    25.2
  125    24.8
  126    23.9
  127    26.1
  128    27.9
  129    30.5
  130    33.7
  131    35.6
  132    36.9
  133    38.4
  134    39.2
  135    40.2
  136    40.6
  137    40.6
  138    40.3
  139    39.5
  140    37.9
  141    36.5
  142    35.0
  143    32.9
  Name: T_HR_AVG, dtype: float64, 'name': 'SUNDAY'}, {'x': 0       0:00
  1       1:00
  2       2:00
  3       3:00
  4       4:00
         ...
  163    19:00
  164    20:00
  165    21:00
  166    22:00
  167    23:00
  Name: LST_TIME, Length: 168, dtype: object, 'y': 144    30.9
  145    28.7
  146    26.9
  147    25.2
  148    24.1
  149    24.3
  150    23.4
  151    25.7
  152    28.5
  153    30.7
  154    32.5
  155    34.1
  156    36.1
  157    37.6
  158    39.0
  159    40.2
  160    40.3
  161    40.2
  162    40.1
  163    39.4
  164    38.5
  165    37.0
  166    34.7
  167    32.6
  Name: T_HR_AVG, dtype: float64, 'name': 'MONDAY'}]

## Nested bar chart

In [34]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/Data/2018WinterOlympics.csv')
# len(df['DAY'])

trace1= go.Bar(x=df['NOC'],
               y=df['Gold'],
               name='Gold',marker={'color':'#FFD700'}
              )

trace2= go.Bar(x=df['NOC'],
               y=df['Total'],
               name='Silver',marker={'color':'#9EA0A1'}
              )

trace3= go.Bar(x=df['NOC'],
               y=df['Bronze'],
               name='Bronze',marker={'color':'#CD7F32'}
              )

data=[trace1,trace2,trace3]

layout= go.Layout(title='Medals')

fig=go.Figure(data=data,layout=layout)


pyo.plot(fig)

'temp-plot.html'

In [33]:
df

    Rank                NOC  Gold  Silver  Bronze  Total
0      1             Norway    14      14      11     39
1      2            Germany    14      10       7     31
2      3             Canada    11       8      10     29
3      4      United States     9       8       6     23
4      5        Netherlands     8       6       6     20
5      6             Sweden     7       6       1     14
6      7  Republic of Korea     5       8       4     17
7      8        Switzerland     5       6       4     15
8      9             France     5       4       6     15
9     10            Austria     5       3       6     14
10    11              Japan     4       5       4     13
11    12              Italy     3       2       5     10
12    13                OAR     2       6       9     17
13    14     Czech Republic     2       2       3      7
14    15            Belarus     2       1       0      3
15    16              China     1       6       2      9
16    17           Slovakia     1       2       0      3
17    18            Finland     1       1       4      6
18    19      Great Britain     1       0       4      5
19    20             Poland     1       0       1      2
20    21            Hungary     1       0       0      1
21    21            Ukraine     1       0       0      1
22    23          Australia     0       2       1      3
23    24           Slovenia     0       1       1      2
24    25            Belgium     0       1       0      1
25    26              Spain     0       0       2      2
26    26        New Zealand     0       0       2      2
27    28         Kazakhstan     0       0       1      1
28    28             Latvia     0       0       1      1
29    28      Liechtenstein     0       0       1      1

## Stacked bar chart

In [36]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/Data/2018WinterOlympics.csv')
# len(df['DAY'])

trace1= go.Bar(x=df['NOC'],
               y=df['Gold'],
               name='Gold',marker={'color':'#FFD700'}
              )

trace2= go.Bar(x=df['NOC'],
               y=df['Total'],
               name='Silver',marker={'color':'#9EA0A1'}
              )

trace3= go.Bar(x=df['NOC'],
               y=df['Bronze'],
               name='Bronze',marker={'color':'#CD7F32'}
              )

data=[trace1,trace2,trace3]

### here barmode aattribute to set as we need to give it for stacked bar mode

layout= go.Layout(title='Medals',barmode='stack')

fig=go.Figure(data=data,layout=layout)


pyo.plot(fig)

'temp-plot.html'

## Box Plot

In [37]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

import plotly.offline as pyo
import plotly.graph_objs as go

# set up an array of 20 data points, with 20 as the median value
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

data = [
    go.Box(
        y=y,
        boxpoints='all', # display the original data points
        jitter=0.3,      # spread them out so they all appear
        pointpos=-1.8    # offset them to the left of the box
    )
]
pyo.plot(data, filename='box1.html')

'box1.html'

In [39]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/Data/arrhythmia.csv')

data = [go.Histogram(
    x=df[df['Sex']==0]['Height'],
    opacity=0.75,
    name='Male'
),
go.Histogram(
    x=df[df['Sex']==1]['Height'],
    opacity=0.75,
    name='Female'
)]

layout = go.Layout(
    barmode='overlay',
    title="Height comparison by gender"
)
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='basic_histogram2.html')

'basic_histogram2.html'

## Dash

In [5]:
import dash
import dash_core_components as dcc
import dash_html_components as html


app=dash.Dash()

app.layout =html.Div(children=[
    html.H1('Hello Dash'),
    html.Div('Dash: Web Dashboard with Python'),
    dcc.Graph(id='example',
             figure={'data':[
                 {'x':[1,2,3],'y':[4,1,2],'type':'bar','name':'SF'},
                 {'x':[1,2,3],'y':[2,4,5],'type':'bar','name':'NYC'},
             ],
                 'layout':{
                     'title':'BAR PLOTS'
                     
                 }
                 })
])


if __name__=='__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [24/Apr/2021 23:48:36] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [24/Apr/2021 23:48:36] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [24/Apr/2021 23:48:36] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [24/Apr/2021 23:48:36] "GET /_dash-component-suites/dash_core_components/async-graph.v1_16_0m1617903285.js HTTP/1.1" 200 -
127.0.0.1 - - [24/Apr/2021 23:48:36] "GET /_dash-component-suites/dash_core_components/async-plotlyjs.v1_16_0m1617903285.js HTTP/1.1" 200 -
127.0.0.1 - - [24/Apr/2021 23:48:37] "GET /_favicon.ico?v=1.20.0 HTTP/1.1" 200 -

## customization to text

In [7]:
import dash
import dash_core_components as dcc
import dash_html_components as html


app=dash.Dash()

colors= {'background':'#111111', 'text':'#7FDBFF'}


app.layout =html.Div(children=[
    html.H1('Hello Dash',style={'textAlign':'center',
                                'color':colors['text']
                               
                               }),
    html.Div('Dash: Web Dashboard with Python'),
    dcc.Graph(id='example',
             figure={'data':[
                 {'x':[1,2,3],'y':[4,1,2],'type':'bar','name':'SF'},
                 {'x':[1,2,3],'y':[2,4,5],'type':'bar','name':'NYC'},
             ],
                 'layout':{
                     'plot_bgcolor':colors['background'],
                     'paper_bgcolor':colors['background'],
                     'font':{'color':colors['text']},
                     'title':'BAR PLOTS'
                     
                 }
                 })
],style={'backgroundColor':colors['background']}
                    
                    
                    )


if __name__=='__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Apr/2021 00:02:47] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 00:02:47] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 00:02:47] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 00:02:47] "GET /_favicon.ico?v=1.20.0 HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 00:02:52] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 00:02:52] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 00:02:52] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 00:02:52] "GET /_favicon.ico?v=1.20.0 HTTP/1.1" 200 -

### graphs into dash

In [14]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import numpy as np


app=dash.Dash()

##creating data
np.random.seed(42)
random_x=np.random.randint(1,101,100)

random_y=np.random.randint(1,101,100)




colors= {'background':'#111111', 'text':'#7FDBFF'}


app.layout =html.Div(children=[
#     html.H1('Hello Dash',style={'textAlign':'center',
#                                 'color':colors['text']
                               
#                                }),
#     html.Div('Dash: Web Dashboard with Python'),
    dcc.Graph(id='ScatterPlot',
             figure={'data':[
                 
                 go.Scatter(
                     x=random_x,
                     y=random_y,
                     mode='markers',
                     marker= {
                         'size':12,
                         'color':'rgb(51,204,153)',
                         'line':{'width':2}
                     }
                 
                 )
             ],
                     'layout':go.Layout(title='My ScatterPlot', xaxis={'title':'Some X title'})}),
                     
                     
                     
             dcc.Graph(id='ScatterPlot2',
             figure={'data':[
                 
                 go.Scatter(
                     x=random_x,
                     y=random_y,
                     mode='markers',
                     marker= {
                         'size':12,
                         'color':'rgb(200,204,53)',
                         'line':{'width':2}
                     }
                 
                 )
             ],
                     'layout':go.Layout(title='My Second plot', xaxis={'title':'Some X title'})})]
                     
              
                    )


if __name__=='__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Apr/2021 11:43:01] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 11:43:01] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 11:43:01] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [25/Apr/2021 11:43:01] "GET /_favicon.ico?v=1.20.0 HTTP/1.1" 200 -

#### dash excersize